@model PROG3050_Team_Project.Models.Member

@{
    ViewData["Title"] = "Sign Up";
}

<link rel="stylesheet" href="~/css/signup.css" />

<!-- GameVoid Branding at the top left -->
<div class="brand-logo">
    <span class="game">GAME</span>
    <span class="void">VOID</span>
</div>

<!-- Sign Up Container with a box style -->
<div class="text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">

    <div class="login-box">
        <h1 class="display-4">Create Account</h1><br/><br/>
        <form asp-action="Index" asp-controller="SignUp" method="post">
            <div class="form-group">
                <input asp-for="UserName" type="text" class="form-control" placeholder="Username" required />
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input asp-for="Email" type="text" class="form-control" placeholder="Email" required />
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div><br/>

            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Repeat Password" required />
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <!-- reCAPTCHA validation -->
            <div class="g-recaptcha" data-sitekey="6Ld32FcqAAAAANrQRUMWVjmxaJ-QCmXpBiY96LQR"></div>
            @Html.ValidationMessage("CaptchaError", new { @class = "text-danger" })

            <input type="hidden" id="gRecaptchaRes" name="gRecaptchaRes" />
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
    </div>

    <script>
        console.log('@ViewBag.ConsoleMessage');
    </script>
    
    <script>
        document.querySelector('form').addEventListener('submit', function () {
            var response = grecaptcha.getResponse();
            console.log(response); // Log the reCAPTCHA response
            document.getElementById('gRecaptchaRes').value = response;
        });
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</div>
