@model PROG3050_Team_Project.Models.Member

@{
    ViewData["Title"] = "Sign Up";
}



<div class="text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 class="display-4">Create Account</h1>
    <p>Become a member today!</p>
    <br />
    <br />

    <form asp-action="Index" asp-controller="SignUp" method="post">
        <div class="form-group">
            <input asp-for="UserName" class="form-control" style="width: 400px;" placeholder="Username" required />
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="form-group">
            <input asp-for="Email" class="form-control" style="width: 400px;" placeholder="Email" required />
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="form-group">
            <input asp-for="Password" type="password" class="form-control" style="width: 400px;" placeholder="Password" required />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <br />

        <div class="form-group">
            <input asp-for="ConfirmPassword" type="password" class="form-control" style="width: 400px;" placeholder="Repeat Password" required />
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

        </div>
        <br />

        <div class="g-recaptch" data-sitekey="6LcfvlYqAAAAAL4WLgdnRkTkQEY_UaFIaxpNZsNS"></div>
        @Html.ValidationMessage("CaptchaError", new { @class = "text-danger" })

        <br />
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
     <script>
        console.log('@ViewBag.ConsoleMessage');
    </script>


    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LcfvlYqAAAAAL4WLgdnRkTkQEY_UaFIaxpNZsNS"></script>


</div>

