@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MemberGamesViewModel
<link rel="stylesheet" href="~/css/user.css">
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<link rel="stylesheet" href="~/css/events.css">

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="mb-5">
                <div class="brand-logo">
                    <div class="game">GAME</div>
                    <div class="void">VOID</div>
                </div>


            </div>
            <br /><br />
            <ul class="nav flex-column">
                <li class="nav-item mb-3">
                    <a class="nav-link text-light" asp-controller="User" asp-action="Profile" asp-route-memberId="@Model.member.MemberID">Profile</a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-light" asp-controller="User" asp-action="GoToFriends" asp-route-memberId="@Model.member.MemberID" class="btn btn-primary">Friends & Family</a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-light" asp-controller="Wishlist" asp-action="Event" asp-route-memberId="@Model.member.MemberID">Events</a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-light" asp-controller="Wishlist" asp-action="List" asp-route-memberId="@Model.member.MemberID">WishList</a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-light" asp-controller="Wishlist" asp-action="Cart" asp-route-memberId="@Model.member.MemberID">Cart</a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-light" asp-controller="LogIn" asp-action="Index">LogOut</a>
                </li>
            </ul>
        </div>

        <div class="main-content-container">
            <div class="text-center">
                <h1 class="display-4">Events</h1>
                <div class="add-game-container">
                    <a asp-controller="Wishlist" asp-action="Event" method="post" asp-route-memberId="@Model.member.MemberID" class="btn btn-primary">All Events</a>
                </div>
                <div class="custom-row">
                    @foreach (var eventItem in Model.member.MemberEvents)
                    {
                        var isRegistered = Model.member?.MemberEvents?.Any(e => e.EventId == eventItem.EventId) ?? false;
                        <div class="custom-col">
                            <div class="custom-card">
                                <div class="custom-card-body">
                                    <h5 class="custom-card-title">@eventItem.Event.Title</h5>
                                    <p class="custom-card-text">@eventItem.Event.StartDate - @eventItem.Event.EndDate</p>
                                    <p class="custom-card-text">@eventItem.Event.Location</p>
                                    <p class="custom-card-text">@eventItem.Event.Description</p>
                                    <p>
                                        @if (isRegistered)
                                        {
                                            <form asp-controller="Wishlist" asp-action="Unregister" asp-route-eventId="@eventItem.Event.EventId" asp-route-memberId="@Model.member.MemberID" method="post">
                                                <button type="submit" class="btn btn-primary">Unregister</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-action="RegisterForEvent" method="post">
                                                <input type="hidden" name="memberId" value="@Model.member.MemberID" />
                                                <input type="hidden" name="eventId" value="@eventItem.EventId" />
                                                <button type="submit" class="btn btn-primary">Register</button>
                                            </form>
                                        }
                                    </p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

