
@{
    ViewData["Title"] = "Admin Panel";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<link rel="stylesheet" href="~/css/admin.css">



<link rel="stylesheet" href="~/css/navbar.css">




<div class="sidebar">
    <div class="mb-5">
        <a href="@Url.Action("Index", "Admin")">
            <div class="brand-logo">
                <div class="game">GAME</div>
                <div class="void">VOID</div>
            </div>
        </a>
    </div>
    <br /><br />
    <ul class="nav flex-column">
        <li class="nav-item mb-3">
            <a class="nav-link text-light" href="@Url.Action("Index", "Admin")">Dashboard</a>
        </li>
        <li class="nav-item mb-3">
            <a class="nav-link text-light" href="@Url.Action("Event", "Admin")">Events</a>
        </li>
        <li class="nav-item mb-3">
            <a class="nav-link text-light" href="@Url.Action("Order", "Admin")">Orders</a>
        </li>
        <li class="nav-item mb-3">
            <a class="nav-link text-light" href="@Url.Action("Reports", "Admin")">Reports</a>
        </li>
        <li class="nav-item mb-3">
            <a class="nav-link text-light">Game Reviews</a>
        </li>
         <li class="nav-item mb-3">
            <a class="nav-link text-light" asp-controller="LogIn" asp-action="Index">LogOut</a>
        </li>
    </ul>
</div>
<div class="text-center">
    <h1>Reports</h1>
    <div class="mt-3">
        <button class="btn btn-primary" onclick="downloadReport('DownloadGameListReport')">Download Game List</button>
        <button class="btn btn-primary" onclick="downloadReport('DownloadMemberListReport')">Download Member List</button>
        <button class="btn btn-primary" onclick="downloadReport('DownloadWishListReport')">Download Wish List</button>
        <button class="btn btn-primary" onclick="downloadReport('DownloadSalesReport')">Download Sales Report</button>
    </div>
</div>

<script>

    function downloadReport(action) {
        const url = `/Downloader/${action}`;
        const link = document.createElement('a');
        link.href = url;
        link.style.display = 'none';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

</script>